.sidebar {
  top: 0;                        
  height: 100vh; 
  background: var(--color-bg2);
  padding: var(--spacing-md);
  transition: transform 0.3s ease;
  position: fixed;
  width: var(--sidebar-width-desktop);
  transform: translateX(0);
  align-self: stretch;
  z-index:1000;
}


.sidebar-logo {
  height: 2rem;
  
}


.sidebar-title {
  color: white;
  font-weight: bold;
  margin-left: var(--spacing-lg);
  letter-spacing: 0.05em;
}

.sidebar-links {
  margin-top: 100px;
}

.sidebar-links a {
  display: block;
  text-align:center;
  margin: 1rem ;
  padding: 0.25rem ;
  border-radius: var(--border-radius) ;
  background-color: var(--color-yellow);
  color: white;
  text-decoration:none;
}

.sidebar-links a:hover,
.sidebar-links a:active,
.sidebar-links a:focus {
  color: var(--color-yellow);
  background: rgba(255,255,255,0.1);
  border-radius: var(--border-radius);
}


/* Responsive override */
@media (max-width: 1024px) {
  .sidebar {
    position: fixed;
    top: var(--navbar-height);
    right: 0;
    bottom: 0;
    width: var(--sidebar-width-mobile);
    transform: translateX(100%);
    z-index: 900;
    transition: transform 0.3s ease;
  }
  .sidebar:not(.collapsed) {
    transform: translateX(0);
  }
}

 .sidebar-hamburger {
    display: block;
  }

 @media (min-width: 1025px) {
  .sidebar {
    position: relative; 
    transform: none !important;
    width: var(--sidebar-width-desktop);
    height: 100vh;
    top: auto; right: auto; bottom: auto;
    z-index: auto;
  }
  .sidebar-hamburger {
    display: none;            
  }
}

  


